<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Front Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap">
</head>
<body>

<div th:insert="blocks/navbar"></div>
<div class="container-fluid">
    <div class="row" th:each="post: ${posts}">

        <div class="col-sm-6 offset-3">
            <div th:text="${post.getHeader()}"></div>
            <hr>
            <div th:text="${post.getContent()}"></div>

        </div>
    </div>
</div>




</body>
</html>